/*network*/
$blue-button-normal: #30a9e5;
$blue-button-hover:#65c2f0;
$blue-button-click: #2e77ab;
/*button-grey*/
$grey-button-normal:#b8b8b8;
$grey-button-hover:#d5d4d4;
$grey-button-click:#948f8f;
/*popup*/
$popup-background:#30a9e5;
/*popup-content*/
$grey-content-fon:#e3e3e3;
$grey: #b8b8b8;
$greymiddle:#616161;
$greylight:#999999;
$greydark:#333333;
$greymoredark:#666666;
$bluefind-us:#30a9e5;
$white:#ffffff;

$roboto: 'Roboto', sans-serif;

$missfonts:'Amazing Grotesk';





@font-face {
    font-family: "Amazing Grotesk";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Amazing Grotesk/Amazing Grotesk Demi.otf") format("otf"),
    
        /* url("fonts/Samplinal.woff2") format("woff2"),*/
        /* url("../fonts/Amazing_Grotesk/Amazing_Grotesk_Demi.woff") format("woff");*/
}



*{
	margin:0;
	padding:0;
}
/*styles for header-info*/


.header-info{
	background:url(../image/background_header.png)no-repeat;
	background-size:100% 818px;
	margin:auto;
	height:873px;
	text-align:center;
}
#logo{	
	margin:auto;
	content: "";
	background:url(../image/trade_in_top.png) no-repeat;
	position:relative;
	width:311px;
	height: 93px;
	top:40px;
}
.tagline{
	font-size:48px;
	width:530px;
	text-align:center;
	margin:auto;
	font-family:'Amazing Grotesk DemiBold';
	padding-top:51px;
	padding-bottom:18px;
	color:$white;
}
.apple-store{
	background:url(../image/apple-store_bkg.png)0px 0px no-repeat;
	height:70px;
	width:320px;
	margin:auto;
	padding-bottom:25px;
}
.apple-store__text{
	font-size:11px;
	width:128px;
	font-family:$roboto;
	color: $greymiddle;
	font-weight:normal;
	padding-top:15px;
	padding-left:8px;
}
.apple-store__logo{
	content: "";
	background:url(../image/hot-store.png)no-repeat;
	position:relative;
	z-index:2;
	top:-27px;
	left:145px;
	width:115px;
	height: 26px;
}
.news-text{
	width:565px;
	font-size:14px;
	text-align:center;
	margin:auto;
	color:$white;
	font-family:$roboto;
	font-weight:normal;
	padding-bottom:20px
}


/*rulls module start*/
/*
.work-rulls {
	text-align:center;
}

.rulls{
	font-size:13px;
	width:210px;
	display:inline-block;
	margin:auto;
	text-align:center;
	color:$white;
	padding-bottom:32px;
}
.rulls__icon--bomb{
	content:"";
	background:url(../image/bomb-pig_sprite1.png) no-repeat;
	width:55px;
	height:59px;
	position:relative;
	top:0px;
	left:62px;
	padding-bottom:18px;
}

.rulls__icon--pig{
	@extend .rulls__icon--bomb;
	background-position:-58px 0;
}

.rulls__icon--place{
	@extend .rulls__icon--bomb;
	background-position:-114px 0;
}

.rulls__title{
	font-size:12px;
	font-family:$roboto;
	padding-bottom:6px;
}

.rulls__text{
	font-size:11px;
	line-height:16px;
	font-family:$roboto;
	width:192px;
}*/
/*rulls module finish*/

/*button model start
.button-main {
	margin:auto;	
	width:270px;
	height:67px;
	font-size:13px;
	border-radius:5px;
	border: 1px solid transparent;
	background:$blue-button-normal;
	color:$white;
}
.button-main:hover{
	background:$blue-button-hover;
}
.button-main:active{
	background:$blue-button-click;
	border:none;
}
button model finish*/


/*all module start*/
.gadget-left{ 
	content:"";
	background:url(../image/picture-left.png) no-repeat;
	width:480px;
	height:570px;
	position:absolute;
	left:0px;
	top:147px;
}
.gadget-right{
	content:"";
	background:url(../image/picture_right.png) no-repeat;
	width:465px;
	height:629px;
	position:absolute;
	right:0px;
	top:80px;
}
/*all module fifnish*/




/*menu module start*/


.container-menu{
	width:100%;
	height: 50px;
	position:absolute;
	top:-40px;
	visibility:hidden;
}
.menu-nav{
	display:table;
	border-collapse:collapse;
	height: 50px;
	left:17%; 
	width:68%;
	position:absolute;
}

.nav-active{
	background-color:rgba(236,236,236,.96);
	display:table;	
	height: 50px;
	width:100%;
	position:fixed;
	top:0;
	visibility:visible;
	z-index: 9998;
	transition-duration: 1s, 5s;
	transition-property: top;
	transition-delay: 0s, 1s;	 
}
/*auto-hover*/
.menu-nav__sell--active a{
	background:#c3c3c3;
	color: $white;
}

.menu-nav__sell{	
	list-style:none;
	height:40px;
	display:table-cell;	
	text-align:center;
	transition: .5s all ease-out;
		a{
			color:#787878;
			line-height:50px;
			text-decoration:none;
			font-size:14px;
			font-family:$roboto;
			display:block;
		}
	}

.menu-nav__sell--logo{
	background:url(../image/logo_for_menu.png) 0 0 no-repeat;
	width:150px;
	position:relative;
	top:9px;
	height:30px;
	margin:auto;
}
/*menu module fifnish*/


/*global module title

.title{
	font-size:36px;
	text-align:center;
	display:block;
	font-family:$missfonts;
	padding-bottom:38px;
}
fifnish global module title*/

/* module advantage start
#your-advantage{
	text-align:center;
}

.advantage{
	width:284px;
	text-align:center;
	display:inline-block;
	padding-bottom:103px;
}

.advantage__text{
	font-size:13px;
	width:277px;
	color:$greylight;
	font-family:$roboto;
	clear:both;
		span{
			font-weight:bold;
			color:$greydark;
		}
}

.advantage__picture{
	width:250px;
	height:250px;
}
.advantage__picture--price:before{
	content:"";
	background:url(../image/round_sprite.png) no-repeat;
	width:211px;
	height:250px;
	position:relative;
	top:0px;
	float:left;
	left:24px;
}
.advantage__picture--guarantee:before{
	@extend .advantage__picture--price:before;
	background-position: -223px 0;
}
.advantage__picture--service:before{
	@extend .advantage__picture--price:before;
	background-position: -433px 1px;
}
.advantage__picture--guaranteeMacPoint:before{
	@extend .advantage__picture--price:before;
	background-position: -646px 0;
}
 module advantage finish*/



/*start module oportunity


#your-opportunity{
	text-align:center;
	overflow:hidden;
	height:761px;
}
.opportunity{
	width:402px;
	height:450px;
	display:inline-block;
	padding-top:21px;
}
.opportunity__title{
	height:60px;
	width:154px;
	font-size:18px;
	font-family:$roboto;
	font-weight: normal;
	margin:auto;
	display:block;
		span{
		font-size:24px;
		width: 107px;
		font-family:$roboto;
		font-weight: normal;
		}
}
.opportunity__picture{
	width:300px;
}
.opportunity__picture--sell{
	content:"";
	background:url(../image/gadget_sprite.png) no-repeat;
	width:276px;
	height:341px;
	position:relative;
	top:53px;
	left:36px;
}
.opportunity__picture--exchange{
	@extend .opportunity__picture--sell;
	background-position:-274px 0px;
}

.opportunity__picture--buy{
	@extend .opportunity__picture--sell;
	background-position:-562px 0px;
}

.opportunity__picture--exchange:before{
	content:"";
	width:1px;
	height:557px;
	position:absolute;
	float:left;
	background-color:$greylight;
	top:-124px;
	left:-58px;
}
.opportunity__picture--exchange:after{
	@extend .opportunity__picture--exchange:before;
	background-color:$grey;
	left:338px;
	float:right;
}

.opportunity__menu{
	width:280px;
	height:125px;
	margin:auto;
	li{
		font-size:14px;
		text-align:left;
		font-family:$roboto;
		}
}

fifnish module oportunity*/

/* button module part 2 start
.button-main--grey{
	background:$grey-button-normal;
}
.button-main--grey:hover{
	background:$grey-button-hover;
}
.button-main--grey:active{
	background:$grey-button-click;
}

 button module part 2 finish*/




.another-way-backgroud{
	height:360px;
	background:url(../image/background_another_way.png) no-repeat;
    background-size: 100% 360px;
    overflow:hidden;
    padding-bottom:62px;
}
.three-gadgets-text{
	float:right;
	width:360px;
	display:block;
	clear:both;
	padding-right:243px;
		p{
		text-align:left;
		font-family:$roboto;
		font-size:14px;color:$white;
		}
}
.three-gadgets{
	content:"";
	background:url(../image/gadget.png) no-repeat;
	width:400px;
	height:200px;
	float:right;
	padding-bottom:20px;
	padding-right:243px;
	position:relative;
	top:58px;
}
.another-way{	
	height:1567;
	text-align:center;
}
.we-work__title{
	font-family:$roboto;
	font-size:36px;
	width:690px;
	display:block;
	margin:auto;
	color:$greydark;
	font-weight:normal;
	text-align:center;
	padding-bottom:32px;
}

.we-work__subtitle{
	width:1200px;
	color:$greydark;
	font-weight:medium;
	font-family:$roboto;
	font-size:18px;
	display:block;
	margin:auto;
	padding-bottom:64px;
}


/*start module way
.way{
	margin:auto;
	height:316px;
	overflow:hidden;
}
.way__picture{
	display:inline-block;
}
.way__content{
	display:inline-block;
	width:637px;
	overflow:hidden;
	height:245px;
}

.way__content--advertisement:before{
	content:"";
	left:700px;
	position:absolute;
	width:205px;
	height:242px;
	background-position:-3px 30px;
	background:url(../image/sprite_way_to_sell.png) no-repeat;
}
.way__content--pawnshop:before{
	@extend .way__content--advertisement:before;
	background-position: -192px 30px;	
}
.way__content--commission:before{
	@extend .way__content--advertisement:before;
	background-position: -393px 30px;	
}

.way__title{
	font-family:$roboto;
	font-weight:normal;
	font-size:24px;
	color:$greydark;
	width:430px;
	display:block;
	margin:auto;
	padding-bottom:48px;
	padding-top:20px;	
}
.way__text{
	width:380px;
	font-family:$roboto;
	font-weight:normal;
	font-size:14px;
	color:$greydark;
	display:block;
	text-align:center;
	margin:auto;
}
finish module way



.consultation{
	background:url(../image/background_consultation.png) no-repeat;
	background-size:100% 380px;
	height:423px;
	margin:auto;
	text-align:center;
	overflow:hidden;
}
.consultation__title{
	width:920px;
	margin:auto;
	display:block;
	padding-top:95px;
	padding-bottom:54px;
		p{font-size:24px;
			font-family:$missfonts;
			font-weight:bold;
			color:$white;
			text-align:center;
		}
}
.consultation__picture{
	content:"";
	position:relative;
	background:url(../image/headphones.png) 0 0 no-repeat;
	left:574px;
	width:428px;
	height:141px;
	top:-94px;
}*/

/*start module for requirements
#requirements{
	height:857px;
}

.requirements__title{
	width:684px;
	display:block;
	float:left;
	padding-left:240px;
		p{
		font-family:$missfonts;
		font-size:36px;
		font-weight: bold;
		color:$greydark;
		width:471px;
		}
	}

.requirements__list{
	display:block;
	float:left;
}
.requirements__paragraph{
	width:450px;
	height:133px;
	display:block;
		p{
			font-family:$roboto;
			font-size:14px;
			font-weight: normal;
			color:#858585;
			height:90px;
			display:block;
			padding-top:27px;
			}
		}
.requirements__paragraph--copy:before{
	content:"";
	background:url(../image/sprite_round_figure.png)no-repeat;
	left:745px;
	width:123px;
	height:123px;
	position:absolute;
}
.requirements__paragraph--state:before{
	@extend .requirements__paragraph--copy:before;
	background-position:-122px 0px;
}
.requirements__paragraph--age:before{
	@extend .requirements__paragraph--copy:before;
	background-position:-244px 0px;
}
.requirements__background-cost{
	background:url(../image/background_requirements.png) no-repeat;
	background-size:100% 360px;
	height:420px;
	overflow:hidden;
	text-align:center;
	clear:both;
}
.requirements__title-cost{
	display:block;
	margin:auto;
	height:80px;
	width:985px;
	padding-top:107px;
	padding-bottom:16px;
	font-family:$missfonts;
	font-size:36px;
	font-weight:bold;
	color:$white;
}


finish module for requirements*/


/*start module for catalog
.catalog{
	text-align:center;
}
.catalog__subtitle{
	font-family:$roboto;
	font-weight:normal;
	font-size:14px;
	color: $greymoredark;
	text-align:center;
	padding-bottom:33px;
}

.catalog__picture{
	width:1241px;
	height:789px;
	margin:auto;
	background:url(../image/accessories.png) no-repeat;
}

.catalog__button-block{
	width:500px;
	height:62px;
	display: block;
	position:relative;
	left:827px;
	top:-173px;
}

.catalog__link:before{
	content:"";
	background:url(../image/hot-store-buttom.png) no-repeat;
	position:relative;
	width:171px;
	height:40px;
	left:0px;
	top:-2px;
	float:left;
}

.catalog__link{
	display:block;
	width:160px;
	height:30px;
	padding-top:16px;
	float:left;
		a{font-size:12px;
		font-family:$roboto;
		font-weight:normal;
		color: $greymoredark;
	}
}
finish module for catalog*/



/*start module button part3
.button-main--catalog{
	display:block;
	height:87px;
}

finish module button part3*/

/*start for module testimonial

#testimonial{
	height:412px;
	background:url(../image/background_testimonial.png) no-repeat;
	background-size:100% 431px;
}
.testimonial__carusel{
	height:240px;
	width:780px;
	margin:auto;
	padding-top:58px;
}


.testimonial__card{
	margin:auto;
	width:728px;
	height:162px;
	padding:33px 5px 40px 40px;
	background:$white;
}
.testimonial__card-left-part{
	width:559px;
	display:block;
	float:left;
	margin-right:38px;
	padding-left:14px;
}
.testimonial__surname{
	font-size:14px;
	font-family:$roboto;
	font-weight:normal;
	color:#000000;
	padding-bottom:20px;
	padding-top:8px;
}
.testimonial__text{
	font-size:13px;
	font-family:$roboto;
	font-weight:normal;
	color:#666666;
}
.testimonial__card-right-part{
	width:105px;
	display:block;
	float:left;
}
.testimonial__service{
	font-size:12px;
	font-family:$roboto;
	font-weight:normal;
	color:#353638;
	padding-bottom:10px;
	span{
		font-size:14px;
		line-height:27px;
	}
}
.testimonial__picture{
	height:105px;
	weight:110px;
}
finish for module testimonial*/


/*start module  for find-us
#find-us{
	background:$bluefind-us;
	height:230px;
}
.find-us__title{
	margin:auto;
	display:block;
	font-weight:bold;
	font-family:$missfonts;
	font-size:24px;
	color:$white;
	width:376px;
	padding-top:44px;
	padding-bottom:22px;
}

.find-us__logo{
	background:url(../image/trade_in.png)no-repeat;
	margin:auto;
	width:273px;
	height:135px;
	display:block;
}
.find-us__map{
	height:561px;
	background:url(../image/map.png)no-repeat;
	background-size:100% 600px;
	display:block;
	margin:auto;
}

finish module  for find-us*/



/*styles for contacts*/
.contacts{
	width:212px;
	height:344px;
	background-color:$white;
	display:block;
	position:relative;
	left:1340px;
	padding:30px;
	top:50px;
}
.contacts__title {
	font-family:$missfonts;
	font-size:18px;
	font-weight:bold;
	color:$greydark;
	margin:auto;
	width:160px;
	height:65px;
}
.contacts__list{
	list-style:none;
	padding-left:50px;
	padding-bottom:21px;
	li{
	height:30px;
	width:200px;
	}
}
.contacts__list--phone{
	color:$greymiddle;
	font-family:$roboto;
	font-size:14px;
	font-weight:normal;	
}

.contacts__list--mail{
	@extend .contacts__list--phone;
	a{
		color:$bluefind-us;
	}
}

.contacts__list--skype{
	@extend .contacts__list--phone;
	a{
		color:$bluefind-us;
	}	
}

.contacts__list--phone:before{
	content:"";
	background:url(../image/contacts_icon.png) 0 0 no-repeat;
	width:16px;
	height:23px;
	left:35px;
	position:absolute;
}

.contacts__list--mail:before{
	@extend .contacts__list--phone:before;
	background-position:-15px 0;
}
.contacts__list--skype:before{
	@extend .contacts__list--phone:before;
	background-position:-32px 0;
}


.contacts__schedule{
	color:#666666;
	font-family:$roboto;
	font-size:14px;
	font-weight:normal;
	margin:auto;
	width:160px;
	padding-bottom:41px;
}

.network {
	list-style:none;
	display:block;
	width:158px;
	margin:auto;
	height:81px;
}

.network__facebook{
	margin-right: 15px;
	width:37px;
	height: 37px;
	position:relative;
	background:url(../image/network_icon.png) no-repeat;
	display:block;
	float:left;		
}
.network__facebook:hover{
	cursor:pointer;
	background-position:0 -39px;
}

.network__vk {
	@extend .network__facebook;
	background-position:-36px 0px;
}
.network__vk:hover{
	background-position:-36px -39px;
}

.network__twitter {
	@extend .network__facebook;
	background-position:-73px 0px;		
}
.network__twitter:hover {
	@extend .network__facebook;
	background-position:-73px -39px;
}
.contacts__schedule__design-by{
	float:right;
	padding-right:23px;
	a{
	color:#999999;
	font-family:$roboto;
	font-size:12px;
	font-weight:normal;
	width:103px;
	text-decoration:none;
	}
}
.contacts__schedule__design-by:before{
	content:"";
	background:url(../image/design_by_logo.png) no-repeat;
	position:absolute;
	float:left;
	width:91px;
	height:24px;
	left:53px;
}
/*--popups--*/
/*styles for popup-exchange

.popup-exchange{
	clear:both;
	display:none;
	height:1000px;	
	width:100%;	
	position:fixed;
	top:0px;
	z-index: 9999;
}

.popup__close-button{
	background:url(../image/popup_close_sprite.png)no-repeat;
	position:absolute;
	width:20px;
	height:20px;
	right:9px;
	top:9px;
}
.popup__close-button:hover{
	background:url(../image/popup_close_sprite.png)no-repeat;
	position:absolute;
	width:20px;
	height:20px;
	right:9px;
	top:9px;
	background-position:-20px 0;
}


.popup-consultation{
	@extend .popup-exchange;
}

.popup-consultation-catalog{
	@extend .popup-exchange;
}
*/


.popup-save{
	clear:both;
	display:none;
	height:1000px;	
	width:100%;	
	position:fixed;
	top:0px;
	z-index: 9999;
}
/*

.popup__transparent{
	background:#f2f4f5;
	opacity:0.3;
	display:block;
	height:100%;
	width:73%;
	float:left;	
}*/
.popup-save__button-close{
	position:absolute;
	width:61px;
	height:60px;
	right:322px;
	top:35px;
	background:url(../image/popup_close.png) no-repeat;
	background-position:0px 0px;
}/*
.popup__form{
	width:27%;
	display:inline-block;
	background:$popup-background;
	height:1000px;
}
.popup__title{
	font-family:$missfonts;
	font-size:24px;
	font-weight:bold;
	color:$white;
	padding-top:95px;
	margin-bottom:42px;
	text-align:center;
}
.popup__call-form{
	list-style:none;
	width:284px;
	height:300px;
	margin:auto;
	display:block;
}
.popup__call-form:before{
	content:"";
	position:absolute;
	width:16px;
	height:24px;
	right:338px;
	top:177px;
	background:url(../image/phone.png)0 0 no-repeat;
	z-index:2;
}
.popup__button{
	width:280px;
	height:48px;
	border-radius:6px;
	background:white;
	opacity:0.5;
	border:1px solid rgba(0,0,0,0);
	margin-bottom:41px;

}
.popup__button:hover{
	background:$white;
	opacity:1;
	border:1px solid $grey-button-normal;
}
.popup__hint{
	font-size:14px;
	color:#a94442;
	padding-bottom:40px;
}
.popup__wait-for{
	width:280px;
	height:58px;
	border:1px solid rgba(0,0,0,0);
	border-radius:6px;
	background:$white;
	color:$popup-background;
	font-size:18px;
	font-family:$roboto;
	opacity:0.7;
}
.popup__wait-for:hover{
	background:#0981bd;
	cursor: pointer;
	color:white;
	opacity:1;
}
.popup__wait-for:active{
	color:white;
	cursor: pointer;
	background:#006699;
	opacity:1;
}
.popup__feedback{
	font-size:14px;
	font-family:$roboto;
	color:$white;
	padding-top:15px;
}





.popup__transparent--save{
	padding-top:61px;
	width:100%;
	float:none;
	margin:auto;
	opacity:1;
	background-color: rgba(12, 12, 12, 0.5);
}
*/
/*styles for popup-save*/
.popup-content{
	height:1050px;
	width:966px;
	display:block;
	margin:auto;
	background:$white;
	padding-top:37px;
}

.popup-content__list--left{
	display:block;
}

.popup-content__list--right{
	display:block;
}

.popup-content:hover:before{
	background-position:-60px 0px;
}
.popup-content:active:before{
	background-position:-119px 0px;
}
.popup-content__title{
	display:block;
	margin:auto;
	font-family:$missfonts;
	font-size:30px;	
	color:#000000;
	width:660px;
	text-align:center;
	padding-bottom:25px;
}

.popup-content__subtitle{
	display:block;
	margin:auto;
	font-family:$roboto;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	width:480px;
	text-align:center;
	padding-bottom:40px;
}

.popup-content__transparent-block{
	height:440px;
	width:320px;
	opacity:0.5;
	position:absolute;
	background:#130f13;
	z-index:2;
}
.popup-content__selection{
	width:320px;
	height:440px;
	display:inline-block;
	float:left;
	margin-left:87px;
	margin-right:71px;
	margin-bottom:25px;
	border:1px solid $grey-content-fon;
	border-radius:5px;
	overflow:hidden;
}


.popup-content__select--arrow-left{
	background:url(../image/select_model-left.png)no-repeat;
	width:202px;
	height:63px;
	display:block;
	position:absolute;
	top:220px;
	left:391px;
}
.popup-content__select--arrow-right{
	background:url(../image/select_model-right.png)no-repeat;
	width:202px;
	height:91px;
	display:block;
	position:absolute;
	top:220px;
	right:346px;
}

.popup-content__button-back{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
}
.back{
	width:60px;
	height:25px;
	background:url(../image/button_back_popup.png)no-repeat;
	border:1px solid rgba(0,0,0,0);
	border:none;
	display:block;
	padding-left:15px;
	span{
		font-family:$roboto;
		font-size: 10px;
		font-weight: normal;
		color:#333333;
	}
}
.back:active{
	border:none;
	border:1px solid rgba(0,0,0,0);
}

.popup-content__menu{
	list-style:none;
	width:321px;
	height:100px;
}
.menu__type-group{
	height:30px;
	background:$grey-content-fon;
	span{
		font-family:$roboto;
		font-size: 10px;
		font-weight: normal;
		color:#333333;
		padding-left:20px;
		display: block;
		line-height: 35px;
	}
}
.menu__model{
	height:68px;
	border:1px solid $grey-content-fon;
	background:#f0f0f0;
}

.menu__model:before{
	position:relative;
	float:left;
	width:51px;
	height:44px;
	background:url(../image/gadget_icon.png)no-repeat;
	left:10px;
	top: 10px;
	content:"";
}
.menu__type{
	font-family:$roboto;
	font-size: 10px;
	font-weight: bold;
	color:$grey-button-normal;
	line-height: 32px;
	padding-bottom:2px;
}
.menu__specification{
	display:block;
	padding-right:5px;
	float:left;
	height:35px;
	font-family:$roboto;
	font-size: 14px;
	font-weight: normal;
	color:$grey-button-click;
	padding-right:28px;
	span{
		font-size:12px;
	}
}		
.menu__arrow{
	background:url(../image/popup_arrow.png)no-repeat;
	width:30px;
	height:30px;
	display:block;
	position:relative;
	top:-13px;
	right:-273px;
}

.popup__call-form--save{
	height:213px;
	margin-bottom:15px;
}
.popup__call-form--save:before{
	content:"";
	position:absolute;
	width:16px;
	height:24px;
	left:705px;
	top:795px;
	background:url(../image/phone.png)0 0 no-repeat;
	z-index:2;
}
.call-form__title{
	font-family:$roboto;
	font-weight:light;
	font-size:18px;
	color:#000000;
	display:block;
	margin:auto;
	width:360px;
	height:57px;
	text-align:center;
	clear:both;
	span{
		font-size:12px;
		}
}
.popup__button--border{
	border:1px solid $greylight;
	height:42px;
	margin-bottom:11px;
	background:#e2e1e1;
	opacity:0.5;
}
.popup__button--border:hover{
	background:$white;
	opacity:1;
	border:1px solid $grey-button-normal;
}
.popup__wait-for--blue{
	background:#30a9e5;
	color:white;
}
.popup__feedback--color{
	color:#000000;
	text-align:center;
	padding-top:2px;
}
.popup-content__buttom-block{
	height:140px;
}
.popup-content__buttom-icon{
	width:235px;
	height:100px;
	display:inline-block;
	font-family:$roboto;
	font-size:11px;
	font-weight:normal;
	color:#999999;
	text-align:center;
	span{
		color:$greydark;
	}
}
.popup-content__buttom-icon--cool:before{
	content:"";
	position:relative;
	float:left;
	width:55px;
	height:50px;
	background:url(../image/popup-save-sprite.png)no-repeat;
	left:115px;
	top:-54px;
}

.popup-content__buttom-icon--pig:before{
	@extend .popup-content__buttom-icon--cool:before;
	background-position: -54px 0px;
}
.popup-content__buttom-icon--gadget:before{
	@extend .popup-content__buttom-icon--cool:before;
	background-position: -114px 0px;
}

.popup-content__buttom-icon--assurance:before{
	@extend .popup-content__buttom-icon--cool:before;
	background-position: -167px 0px;
}









.products--left{
	display:none;
	position:absolute;
	width:318px;
	height:439px;
	z-index:9999;
	text-align:center;
}
.products--right{
	display:none;
	position:absolute;
	width:318px;
	height:439px;
	z-index:9999;
	text-align:center;
}
.selected-model__title {
	font-family:$roboto;
	font-size:18px;
	font-weight:normal;
	color:#999999;
	padding-top:30px;
	padding-bottom:4px;
}
.selected-model__subtitle{
	font-family:$roboto;
	font-size:14px;
	font-weight:normal;
	color:#504d4d;
}

.selected-model__price{
	font-family:$roboto;
	font-size:14px;
	font-weight:normal;
	color:#999999;
	padding-top:15px;
	padding-left:15px;
}
.selected-model__line{
	width:75%;
	height:1px;
	background-color:$greylight;
	margin:auto;
	margin-bottom:17px;
	margin-top:17px;
}
.selected-model__your-gadget{
	margin:auto;
}
.another-gadget{
	font-family:$roboto;
	font-size:14px;
	font-weight:normal;
	color:#423f3f;
	border-bottom: 1px dotted #423f3f;
}

.popup-content__result{
	width:966px;
	height:209px;
	background:$white;
	position:absolute;
	bottom:53px;
	border-top:1px solid #e3e3e3;
	text-align:center;
	display:none;
	padding-top:5px;
	z-index:3;
}
.popup-content__result-title{
	font-size:24px;
	font-family:$missfonts;
	font-weight:normal;
	color:#666e72;
	margin:auto;
	text-align:center;
	width:350px;
	padding-top:32px;
	padding-bottom:29px;
	
}

.popup-content__result-titlea{
	font-size:24px;
	font-family:$missfonts;
	font-weight:normal;
	color:#666e72;
	margin:auto;
	text-align:center;
	width:350px;
	padding-top:32px;
	padding-bottom:29px;
	
}