



@font-face {
    font-family: 'amazing_groteskdemibold';
    src: url("../fonts/Amazing Grotesk/amazing_grotesk_demi-webfont.woff") format('woff'),
         url("../fonts/Amazing Grotesk/amazing_grotesk_demi-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}



@import url(https://fonts.googleapis.com/css?family=Roboto);