/*network*/
/*button-grey*/
/*popup*/
/*popup-content*/

@font-face {
    font-family: 'amazing_groteskdemibold';
    src: url("../fonts/Amazing Grotesk/amazing_grotesk_demi-webfont.woff") format('woff'),
         url("../fonts/Amazing Grotesk/amazing_grotesk_demi-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
.title {
  font-size: 36px;
  text-align: center;
  display: block;
  font-family: "Amazing Grotesk";
  padding-bottom: 38px; }

.button-main {
  margin: auto;
  width: 270px;
  height: 67px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #30a9e5;
  color: #ffffff; }

.button-main:hover {
  background: #65c2f0; }

.button-main:active {
  background: #2e77ab;
  border: none; }

.button-main--grey {
  background: #b8b8b8; }

.button-main--grey:hover {
  background: #d5d4d4; }

.button-main--grey:active {
  background: #948f8f; }

.button-main--catalog {
  display: block;
  height: 87px; }

.work-rulls {
  text-align: center; }

.rulls {
  font-size: 13px;
  width: 210px;
  display: inline-block;
  margin: auto;
  text-align: center;
  color: #ffffff;
  padding-bottom: 32px; }

.rulls__icon--bomb, .rulls__icon--pig, .rulls__icon--place {
  content: "";
  background: url(../image/bomb-pig_sprite1.png) no-repeat;
  width: 55px;
  height: 59px;
  position: relative;
  top: 0px;
  left: 62px;
  padding-bottom: 18px; }

.rulls__icon--pig {
  background-position: -58px 0; }

.rulls__icon--place {
  background-position: -114px 0; }

.rulls__title {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 6px; }

.rulls__text {
  font-size: 11px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  width: 192px; }

#your-advantage {
  text-align: center; }

.advantage {
  width: 284px;
  text-align: center;
  display: inline-block;
  padding-bottom: 103px; }

.advantage__text {
  font-size: 13px;
  width: 277px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  clear: both; }
  .advantage__text span {
    font-weight: bold;
    color: #333333; }

.advantage__picture {
  width: 250px;
  height: 250px; }

.advantage__picture--price:before, .advantage__picture--guarantee:before, .advantage__picture--service:before, .advantage__picture--guaranteeMacPoint:before {
  content: "";
  background: url(../image/round_sprite.png) no-repeat;
  width: 211px;
  height: 250px;
  position: relative;
  top: 0px;
  float: left;
  left: 24px; }

.advantage__picture--guarantee:before {
  background-position: -223px 0; }

.advantage__picture--service:before {
  background-position: -433px 1px; }

.advantage__picture--guaranteeMacPoint:before {
  background-position: -646px 0; }

#your-opportunity {
  text-align: center;
  overflow: hidden;
  height: 761px; }

.opportunity {
  width: 402px;
  height: 450px;
  display: inline-block;
  padding-top: 21px; }

.opportunity__title {
  height: 60px;
  width: 154px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin: auto;
  display: block; }
  .opportunity__title span {
    font-size: 24px;
    width: 107px;
    font-family: "Roboto", sans-serif;
    font-weight: normal; }

.opportunity__picture {
  width: 300px; }

.opportunity__picture--sell, .opportunity__picture--exchange, .opportunity__picture--buy {
  content: "";
  background: url(../image/gadget_sprite.png) no-repeat;
  width: 276px;
  height: 341px;
  position: relative;
  top: 53px;
  left: 36px; }

.opportunity__picture--exchange {
  background-position: -274px 0px; }

.opportunity__picture--buy {
  background-position: -562px 0px; }

.opportunity__picture--exchange:before, .opportunity__picture--exchange:after {
  content: "";
  width: 1px;
  height: 557px;
  position: absolute;
  float: left;
  background-color: #999999;
  top: -124px;
  left: -58px; }

.opportunity__picture--exchange:after {
  background-color: #b8b8b8;
  left: 338px;
  float: right; }

.opportunity__menu {
  width: 280px;
  height: 125px;
  margin: auto; }
  .opportunity__menu li {
    font-size: 14px;
    text-align: left;
    font-family: "Roboto", sans-serif; }

.way {
  margin: auto;
  height: 316px;
  overflow: hidden; }

.way__picture {
  display: inline-block; }

.way__content {
  display: inline-block;
  width: 637px;
  overflow: hidden;
  height: 245px; }

.way__content--advertisement:before, .way__content--pawnshop:before, .way__content--commission:before {
  content: "";
  left: 700px;
  position: absolute;
  width: 205px;
  height: 242px;
  background-position: -3px 30px;
  background: url(../image/sprite_way_to_sell.png) no-repeat; }

.way__content--pawnshop:before {
  background-position: -192px 30px; }

.way__content--commission:before {
  background-position: -393px 30px; }

.way__title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #333333;
  width: 430px;
  display: block;
  margin: auto;
  padding-bottom: 48px;
  padding-top: 20px; }

.way__text {
  width: 380px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  display: block;
  text-align: center;
  margin: auto; }

.consultation {
  background: url(../image/background_consultation.png) no-repeat;
  background-size: 100% 380px;
  height: 423px;
  margin: auto;
  text-align: center;
  overflow: hidden; }

.consultation__title {
  width: 920px;
  margin: auto;
  display: block;
  padding-top: 95px;
  padding-bottom: 54px; }
  .consultation__title p {
    font-size: 24px;
    font-family: "Amazing Grotesk";
    font-weight: bold;
    color: #ffffff;
    text-align: center; }

.consultation__picture {
  content: "";
  position: relative;
  background: url(../image/headphones.png) 0 0 no-repeat;
  left: 574px;
  width: 428px;
  height: 141px;
  top: -94px; }

#requirements {
  height: 857px; }

.requirements__title {
  width: 684px;
  display: block;
  float: left;
  padding-left: 240px; }
  .requirements__title p {
    font-family: "Amazing Grotesk";
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    width: 471px; }

.requirements__list {
  display: block;
  float: left; }

.requirements__paragraph {
  width: 450px;
  height: 133px;
  display: block; }
  .requirements__paragraph p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #858585;
    height: 90px;
    display: block;
    padding-top: 27px; }

.requirements__paragraph--copy:before, .requirements__paragraph--state:before, .requirements__paragraph--age:before {
  content: "";
  background: url(../image/sprite_round_figure.png) no-repeat;
  left: 745px;
  width: 123px;
  height: 123px;
  position: absolute; }

.requirements__paragraph--state:before {
  background-position: -122px 0px; }

.requirements__paragraph--age:before {
  background-position: -244px 0px; }

.requirements__background-cost {
  background: url(../image/background_requirements.png) no-repeat;
  background-size: 100% 360px;
  height: 420px;
  overflow: hidden;
  text-align: center;
  clear: both; }

.requirements__title-cost {
  display: block;
  margin: auto;
  height: 80px;
  width: 985px;
  padding-top: 107px;
  padding-bottom: 16px;
  font-family: "Amazing Grotesk";
  font-size: 36px;
  font-weight: bold;
  color: #ffffff; }

.catalog {
  text-align: center; }

.catalog__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  text-align: center;
  padding-bottom: 33px; }

.catalog__picture {
  width: 1241px;
  height: 789px;
  margin: auto;
  background: url(../image/accessories.png) no-repeat; }

.catalog__button-block {
  width: 500px;
  height: 62px;
  display: block;
  position: relative;
  left: 827px;
  top: -173px; }

.catalog__link:before {
  content: "";
  background: url(../image/hot-store-buttom.png) no-repeat;
  position: relative;
  width: 171px;
  height: 40px;
  left: 0px;
  top: -2px;
  float: left; }

.catalog__link {
  display: block;
  width: 160px;
  height: 30px;
  padding-top: 16px;
  float: left; }
  .catalog__link a {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #666666; }

#testimonial {
  height: 412px;
  background: url(../image/background_testimonial.png) no-repeat;
  background-size: 100% 431px; }

.testimonial__carusel {
  height: 240px;
  width: 780px;
  margin: auto;
  padding-top: 58px; }

.testimonial__card {
  margin: auto;
  width: 728px;
  height: 162px;
  padding: 33px 5px 40px 40px;
  background: #ffffff; }

.testimonial__card-left-part {
  width: 559px;
  display: block;
  float: left;
  margin-right: 38px;
  padding-left: 14px; }

.testimonial__surname {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
  padding-bottom: 20px;
  padding-top: 8px; }

.testimonial__text {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #666666; }

.testimonial__card-right-part {
  width: 105px;
  display: block;
  float: left; }

.testimonial__service {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #353638;
  padding-bottom: 10px; }
  .testimonial__service span {
    font-size: 14px;
    line-height: 27px; }

.testimonial__picture {
  height: 105px;
  weight: 110px; }

#find-us {
  background: #30a9e5;
  height: 230px; }

.find-us__title {
  margin: auto;
  display: block;
  font-weight: bold;
  font-family: "Amazing Grotesk";
  font-size: 24px;
  color: #ffffff;
  width: 435px;
  padding-top: 44px;
  padding-bottom: 22px; }

.find-us__logo {
  background: url(../image/trade_in.png) no-repeat;
  margin: auto;
  width: 273px;
  height: 135px;
  display: block; }

.find-us__map {
  height: 561px;
  background: url(../image/map.png) no-repeat;
  background-size: 100% 600px;
  display: block;
  margin: auto; }

.popup-exchange, .popup-consultation, .popup-consultation-catalog {
  clear: both;
  display: none;
  height: 1000px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 9999; }

.popup__close-button {
  background: url(../image/popup_close_sprite.png) no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 9px;
  top: 9px; }

.popup__close-button:hover {
  background: url(../image/popup_close_sprite.png) no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 9px;
  top: 9px;
  background-position: -20px 0; }

.popup__transparent {
  background: #f2f4f5;
  opacity: 0.3;
  display: block;
  height: 100%;
  width: 73%;
  float: left; }

.popup__transparent--save {
  padding-top: 61px;
  width: 100%;
  float: none;
  margin: auto;
  opacity: 1;
  background-color: rgba(12, 12, 12, 0.5); }

.popup-save__button-close {
  position: absolute;
  width: 61px;
  height: 60px;
  right: 322px;
  top: 35px;
  background: url(../image/popup_close.png) no-repeat;
  background-position: 0px 0px; }

.popup__form {
  width: 27%;
  display: inline-block;
  background: #30a9e5;
  height: 1000px; }

.popup__title {
  font-family: "Amazing Grotesk";
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 95px;
  margin-bottom: 42px;
  text-align: center; }

.popup__call-form {
  list-style: none;
  width: 284px;
  height: 300px;
  margin: auto;
  display: block; }

.popup__call-form:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 24px;
  right: 338px;
  top: 177px;
  background: url(../image/phone.png) 0 0 no-repeat;
  z-index: 2; }

.popup__call-form--save {
  height: 213px;
  margin-bottom: 15px; }

.popup__call-form--save:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 24px;
  left: 705px;
  top: 807px;
  background: url(../image/phone.png) 0 0 no-repeat;
  z-index: 2; }

.popup__button {
  width: 280px;
  height: 48px;
  border-radius: 6px;
  background: white;
  opacity: 0.5;
  border: 1px solid transparent;
  margin-bottom: 41px; }

.popup__button:hover {
  background: #ffffff;
  opacity: 1;
  border: 1px solid #b8b8b8; }

.popup__button--border {
  border: 1px solid #999999;
  height: 42px;
  margin-bottom: 11px;
  background: #e2e1e1;
  opacity: 0.5; }

.popup__button--border:hover {
  background: #ffffff;
  opacity: 1;
  border: 1px solid #b8b8b8; }

.popup__hint {
  font-size: 14px;
  color: #a94442;
  padding-bottom: 40px; }

.popup__wait-for {
  width: 280px;
  height: 58px;
  border: 1px solid transparent;
  border-radius: 6px;
  background: #ffffff;
  color: #30a9e5;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  opacity: 0.7; }

.popup__wait-for:hover {
  background: #0981bd;
  cursor: pointer;
  color: white;
  opacity: 1; }

.popup__wait-for:active {
  color: white;
  cursor: pointer;
  background: #006699;
  opacity: 1; }

.popup__wait-for--blue {
  background: #30a9e5;
  color: white; }

.popup__feedback {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding-top: 15px; }

.popup__feedback--color {
  color: #000000;
  text-align: center;
  padding-top: 2px; }

* {
  margin: 0;
  padding: 0; }

.header-info {
  background: url(../image/background_header.png) no-repeat;
  background-size: 100% 818px;
  margin: auto;
  height: 873px;
  text-align: center; }

#logo {
  margin: auto;
  content: "";
  background: url(../image/trade_in_top.png) no-repeat;
  position: relative;
  width: 311px;
  height: 93px;
  top: 40px; }

.tagline {
  font-size: 48px;
  width: 530px;
  text-align: center;
  margin: auto;
  font-family: 'Amazing Grotesk DemiBold';
  padding-top: 51px;
  padding-bottom: 18px;
  color: #ffffff; }

.apple-store {
  background: url(../image/apple-store_bkg.png) 0px 0px no-repeat;
  height: 70px;
  width: 320px;
  margin: auto;
  padding-bottom: 25px; }

.apple-store__text {
  font-size: 11px;
  width: 128px;
  font-family: "Roboto", sans-serif;
  color: #616161;
  font-weight: normal;
  padding-top: 15px;
  padding-left: 8px; }

.apple-store__logo {
  content: "";
  background: url(../image/hot-store.png) no-repeat;
  position: relative;
  z-index: 2;
  top: -27px;
  left: 145px;
  width: 115px;
  height: 26px; }

.news-text {
  width: 565px;
  font-size: 14px;
  text-align: center;
  margin: auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-bottom: 20px; }

.gadget-left {
  content: "";
  background: url(../image/picture-left.png) no-repeat;
  width: 480px;
  height: 570px;
  position: absolute;
  left: 0px;
  top: 147px; }

.gadget-right {
  content: "";
  background: url(../image/picture_right.png) no-repeat;
  width: 465px;
  height: 629px;
  position: absolute;
  right: 0px;
  top: 80px; }

.another-way-backgroud {
  height: 360px;
  background: url(../image/background_another_way.png) no-repeat;
  background-size: 100% 360px;
  overflow: hidden;
  padding-bottom: 62px; }

.three-gadgets-text {
  float: right;
  width: 360px;
  display: block;
  clear: both;
  padding-right: 243px; }
  .three-gadgets-text p {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ffffff; }

.three-gadgets {
  content: "";
  background: url(../image/gadget.png) no-repeat;
  width: 400px;
  height: 200px;
  float: right;
  padding-bottom: 20px;
  padding-right: 243px;
  position: relative;
  top: 58px; }

.another-way {
  height: 1567;
  text-align: center; }

.we-work__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  width: 690px;
  display: block;
  margin: auto;
  color: #333333;
  font-weight: normal;
  text-align: center;
  padding-bottom: 32px; }

.we-work__subtitle {
  width: 1200px;
  color: #333333;
  font-weight: medium;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding-bottom: 64px; }

.contacts {
  width: 212px;
  height: 344px;
  background-color: #ffffff;
  display: block;
  position: relative;
  left: 1340px;
  padding: 30px;
  top: 50px; }

.contacts__title {
  font-family: "Amazing Grotesk";
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin: auto;
  width: 160px;
  height: 65px; }

.contacts__list {
  list-style: none;
  padding-left: 50px;
  padding-bottom: 21px; }
  .contacts__list li {
    height: 30px;
    width: 200px; }

.contacts__list--phone, .contacts__list--mail, .contacts__list--skype {
  color: #616161;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal; }

.contacts__list--mail a {
  color: #30a9e5; }

.contacts__list--skype a {
  color: #30a9e5; }

.contacts__list--phone:before, .contacts__list--mail:before, .contacts__list--skype:before {
  content: "";
  background: url(../image/contacts_icon.png) 0 0 no-repeat;
  width: 16px;
  height: 23px;
  left: 35px;
  position: absolute; }

.contacts__list--mail:before {
  background-position: -15px 0; }

.contacts__list--skype:before {
  background-position: -32px 0; }

.contacts__schedule {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: auto;
  width: 160px;
  padding-bottom: 41px; }

.network {
  list-style: none;
  display: block;
  width: 158px;
  margin: auto;
  height: 81px; }

.network__facebook, .network__vk, .network__twitter, .network__twitter:hover {
  margin-right: 15px;
  width: 37px;
  height: 37px;
  position: relative;
  background: url(../image/network_icon.png) no-repeat;
  display: block;
  float: left; }

.network__facebook:hover, .network__vk:hover, .network__twitter:hover {
  cursor: pointer;
  background-position: 0 -39px; }

.network__vk {
  background-position: -36px 0px; }

.network__vk:hover {
  background-position: -36px -39px; }

.network__twitter {
  background-position: -73px 0px; }

.network__twitter:hover {
  background-position: -73px -39px; }

.contacts__schedule__design-by {
  float: right;
  padding-right: 23px; }
  .contacts__schedule__design-by a {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: normal;
    width: 103px;
    text-decoration: none; }

.contacts__schedule__design-by:before {
  content: "";
  background: url(../image/design_by_logo.png) no-repeat;
  position: absolute;
  float: left;
  width: 91px;
  height: 24px;
  left: 53px; }

.popup-save {
  clear: both;
  display: none;
  height: 1000px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 9999; }

.popup-save__button-close {
  position: absolute;
  width: 61px;
  height: 60px;
  right: 322px;
  top: 35px;
  background: url(../image/popup_close.png) no-repeat;
  background-position: 0px 0px; }

.button-back {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px; }

.back {
  width: 60px;
  height: 25px;
  background: url(../image/button_back_popup.png) no-repeat;
  border: 1px solid transparent;
  border: none;
  display: block;
  padding-left: 15px; }
  .back span {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #333333; }

.back:active {
  border: none;
  border: 1px solid transparent; }

.call-form__title {
  font-family: "Roboto", sans-serif;
  font-weight: light;
  font-size: 18px;
  color: #000000;
  display: block;
  margin: auto;
  width: 360px;
  height: 57px;
  text-align: center;
  clear: both; }
  .call-form__title span {
    font-size: 12px; }

.popup-content__result {
  width: 966px;
  height: 209px;
  background: #ffffff;
  position: absolute;
  bottom: 53px;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  display: none;
  padding-top: 5px;
  z-index: 3; }

.popup-content__result-title {
  font-size: 24px;
  font-family: "Amazing Grotesk";
  font-weight: normal;
  color: #666e72;
  margin: auto;
  text-align: center;
  width: 350px;
  padding-top: 32px;
  padding-bottom: 29px; }

.popup-content__result-titlea {
  font-size: 24px;
  font-family: "Amazing Grotesk";
  font-weight: normal;
  color: #666e72;
  margin: auto;
  text-align: center;
  width: 350px;
  padding-bottom: 25px; }

.popup-content__menu {
  list-style: none;
  width: 321px;
  height: 100px; }

.menu__type-group {
  height: 30px;
  background: #e3e3e3; }
  .menu__type-group span {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #333333;
    padding-left: 20px;
    display: block;
    line-height: 35px; }

.menu__model {
  height: 68px;
  border: 1px solid #e3e3e3;
  background: #f0f0f0; }

.menu__model:before {
  position: relative;
  float: left;
  width: 51px;
  height: 44px;
  background: url(../image/gadget_icon.png) no-repeat;
  left: 10px;
  top: 10px;
  content: ""; }

.menu__type {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #b8b8b8;
  line-height: 32px;
  padding-bottom: 2px; }

.menu__specification {
  display: block;
  padding-right: 5px;
  float: left;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #948f8f;
  padding-right: 28px; }
  .menu__specification span {
    font-size: 12px; }

.menu__arrow {
  background: url(../image/popup_arrow.png) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  top: -13px;
  right: -273px; }

.buttom-block {
  height: 140px; }

.buttom-block__icon {
  width: 235px;
  height: 100px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #999999;
  text-align: center; }
  .buttom-block__icon span {
    color: #333333; }

.buttom-block__icon--cool:before, .buttom-block__icon--pig:before, .buttom-block__icon--gadget:before, .buttom-block__icon--assurance:before {
  content: "";
  position: relative;
  float: left;
  width: 55px;
  height: 50px;
  background: url(../image/popup-save-sprite.png) no-repeat;
  left: 115px;
  top: -54px; }

.buttom-block__icon--pig:before {
  background-position: -54px 0px; }

.buttom-block__icon--gadget:before {
  background-position: -114px 0px; }

.buttom-block__icon--assurance:before {
  background-position: -167px 0px; }

.container-menu {
  width: 100%;
  height: 50px;
  position: absolute;
  top: -40px;
  visibility: hidden; }

.menu-nav {
  display: table;
  border-collapse: collapse;
  height: 50px;
  left: 17%;
  width: 68%;
  position: absolute; }

.nav-active {
  background-color: rgba(236, 236, 236, 0.96);
  display: table;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  visibility: visible;
  z-index: 9998;
  transition-duration: 1s, 5s;
  transition-property: top;
  transition-delay: 0s, 1s; }

.menu-nav__sell--active a {
  background: #c3c3c3;
  color: #ffffff; }

.menu-nav__sell {
  list-style: none;
  height: 40px;
  display: table-cell;
  text-align: center;
  transition: .5s all ease-out; }
  .menu-nav__sell a {
    color: #787878;
    line-height: 50px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    display: block; }

.menu-nav__sell--logo {
  background: url(../image/logo_for_menu.png) 0 0 no-repeat;
  width: 150px;
  position: relative;
  top: 9px;
  height: 30px;
  margin: auto; }

.selected-model__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #999999;
  padding-top: 30px;
  padding-bottom: 4px; }

.selected-model__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #504d4d; }

.selected-model__price {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #999999;
  padding-top: 15px;
  padding-left: 15px; }

.selected-model__line {
  width: 75%;
  height: 1px;
  background-color: #999999;
  margin: auto;
  margin-bottom: 17px;
  margin-top: 17px; }

.selected-model__your-gadget {
  margin: auto; }

.another-gadget {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #423f3f;
  border-bottom: 1px dotted #423f3f; }

.products--left {
  display: none;
  position: absolute;
  width: 318px;
  height: 439px;
  z-index: 9999;
  text-align: center; }

.products--right {
  display: none;
  position: absolute;
  width: 318px;
  height: 439px;
  z-index: 9999;
  text-align: center; }

.popup-content {
  height: 1050px;
  width: 966px;
  display: block;
  margin: auto;
  background: #ffffff;
  padding-top: 37px; }

.popup-content__list--left {
  display: block; }

.popup-content__list--right {
  display: block; }

.popup-content:hover:before {
  background-position: -60px 0px; }

.popup-content:active:before {
  background-position: -119px 0px; }

.popup-content__title {
  display: block;
  margin: auto;
  font-family: "Amazing Grotesk";
  font-size: 30px;
  color: #000000;
  width: 660px;
  text-align: center;
  padding-bottom: 25px; }

.popup-content__subtitle {
  display: block;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  width: 480px;
  text-align: center;
  padding-bottom: 40px; }

.popup-content__transparent-block {
  height: 440px;
  width: 320px;
  opacity: 0.5;
  position: absolute;
  background: #130f13;
  z-index: 2; }

.popup-content__selection {
  width: 320px;
  height: 440px;
  display: inline-block;
  float: left;
  margin-left: 87px;
  margin-right: 71px;
  margin-bottom: 25px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  overflow: hidden; }

.popup-content__select--arrow-left {
  background: url(../image/select_model-left.png) no-repeat;
  width: 202px;
  height: 63px;
  display: block;
  position: absolute;
  top: 220px;
  left: 391px; }

.popup-content__select--arrow-right {
  background: url(../image/select_model-right.png) no-repeat;
  width: 202px;
  height: 91px;
  display: block;
  position: absolute;
  top: 220px;
  right: 346px; }

/*# sourceMappingURL=main.css.map */
